<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Foot</mat-card-title>
      <mat-card-subtitle>Sport</mat-card-subtitle>
      <img src="/logofoot.jpg"  class="md-card-image" alt="~/Frontend/images/question-circular-button.svg">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card>
<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Tennis</mat-card-title>
      <mat-card-subtitle>Sport</mat-card-subtitle>
      <img src="/logotennis.jpg"  class="md-card-image" alt="~/Frontend/images/question-circular-button.svg">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card>
